<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>CRUD</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Update</h1>
        </div>
        <div class="row">
            <h4 style="text-align:center">We'd love to hear from you!</h4>
        </div>
        <form action="/update" method="post" >
            <div class="row input-container">
                <div class="col-xs-12">
                    <div class="styled-input wide">
                        <input type="text" name="username" required />
                        <label>Username</label> 
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="styled-input">
                        <input type="text" name="name" placeholder=""/>
                        <label>Name</label> 
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="styled-input" style="float:right;">
                        <input type="Number" name="number" />
                        <label>Phone Number</label> 
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="styled-input wide">
                        <input type="password" name="password"/>
                        <label>Password</label> 
                    </div>
                </div>
                <div class="col-xs-12">
                    <button class="btn-lrg submit-btn" >Update</button>
                </div>
                
        </div>
        </form>
    </div>
    
</body>
</html>